<section class="portals">
  <div class="portal">
    <p class="portal__name">Native</p>
    <div class="portal__outlet" id="native-portal-outlet"></div>
  </div>

  <div class="portal">
    <p class="portal__name">angular/cdk</p>
    <div class="portal__outlet" #angularCdkPortalOutlet>
    </div>

  </div>

  <div class="portal">
    <p class="portal__name">ngeat</p>
    <div class="portal__outlet">
      <ng-container teleportOutlet="ngneat-outlet"></ng-container>
    </div>
  </div>

  <div class="portal">
    <p class="portal__name">custom</p>
    <div class="portal__outlet">
      <ng-container customTeleportOutlet></ng-container>
    </div>
  </div>
</section>

<nav>
  <ul>
    <li>
      <a routerLink="/native">Native</a>
    </li>
    <li>
      <a routerLink="/angular-cdk">angular/cdk</a>
    </li>
    <li>
      <a routerLink="/ngneat">ngneat</a>
    </li>
    <li>
      <a routerLink="/custom">custom</a>
    </li>
  </ul>
</nav>

<div class="content">
  <router-outlet></router-outlet>
</div>
